.container{
    display: flex;
    width: 100%;
    
        .datatableorg{
            flex:6;

            .datatable{
                height: 400px;
                padding: 20px;
                padding-top: 10px;
                margin-left: -35px;
                width: 97%;
                position: center;
            }
        }

        .cellWithStatus{
            padding: 5px;
            border-radius: 5px;
        
            &.active{
                background-color: rgba(0, 128, 0, 0.05);
                color: green;
            }
            &.pending{
                background-color: rgba(189, 189, 3, 0.103);
                color: goldenrod;
            }
        }
        .cellAction{
            display: flex;
            align-items: center;
            gap:15px;
    
            .deleteBtn{
                padding: 2px 5px;
                border-radius: 5px;
                color: darkblue;
                border: 1px dotted rgba(0, 0, 139, 0.596);
                cursor: pointer;
            }
            .updateBtn{
                padding: 2px 5px;
                border-radius: 5px;
                color: crimson;
                border: 1px dotted rgba(220, 20, 60, 0.6);
                cursor: pointer;
            }

           
    
        }
        .pdf{
            margin-left: 220px;
            margin-top: -130px;
        }
        .tableDisplay{
            margin-top: 40px;
            margin-left: 15px;
        }
        .boxSearch{
            margin-left: 10px;
            margin-top: -28px;
        }
      
}