.tableDisplay{
    height: 400px;
                padding: 20px;
                padding-top: 10px;
                width: 93%;
                position: center;
}
.rightdateconten{
    margin-top: -16px;
}
.dateDisplay{
    display: flex;
    margin-left: 23px;
    margin-top: 20px;
}